<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set JETTY logging to level INFO -->
    <logger name="org.eclipse" level="INFO" />
    
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>