name: release-workflow
run-name: Release run ${{ github.run_number }}
on: 
  workflow_dispatch:
jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-package: 'jdk'
          java-version: '21'
          check-latest: true
          server-id: 'ossrh'
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.ITEMIS_OSS_GPG_PRIVATE_KEY }}
          gpg-passphrase: SIGN_KEY_PASS
          cache: 'maven'
      - name: Build & Deploy
        run: |
          mvn -U clean deploy -P release
        env:
          SIGN_KEY_PASS: ${{ secrets.ITEMIS_OSS_GPG_PRIVATE_KEY_PASSPHRASE }}
          MAVEN_USERNAME: ${{ secrets.ITEMIS_OSS_SONATYPE_USER }}
          MAVEN_PASSWORD: ${{ secrets.ITEMIS_OSS_SONATYPE_PW }}
